.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-900);
}

.footer img{
    width: 10rem;
    margin: 2rem;
}

.footer p{
    margin: .5rem 0;
}