* {
  max-width: 100vw !important;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

@font-face {
  font-family: 'dreamland';
  src: url("./assets/font/dreamland-std.otf");
}

@font-face {
  font-family: 'tenderness';
  src: url("./assets/font/Tenderness.otf");
}

@font-face {
  font-family: 'briemhand';
  src: url("./assets/font/BriemHand-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'DMSerifDisplay';
  src: url("./assets/font/DMSerifDisplay-Regular.ttf");
}

:root {
  --border-: 70%;
  --line-height: 1.5;
  --font-weight: 400;
  --color-scheme: light dark;
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #121214;
  --gray-900: #001821;
  --gold-100: rgb(182, 187, 12);
  --gold-200: rgb(126, 127, 4);
  --gold-300: rgb(70, 70, 7);
  --blue-100: #008cbd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 98.8vw !important;
  font-family: 'briemhand';
  color: var(--white);
  font-style: inherit;
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--gray-900);
}

h1,
h2,
h3 {
  color: var(--gold-100);
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "DMSerifDisplay" !important;
  margin: 1% 0%;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
}

p {
  color: var(--gray-100);
  font-size: 1.2rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  margin: 3% 2%;
}

button {
  background-color: var(--gray-900);
  font-size: 1rem;
  border: solid var(--gold-200);
  width: 17rem;
  height: 4rem;
  margin: 1rem;
  color: var(--gold-100);
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--gray-600);
}

button:focus {
  outline: none;
}

@media screen and (max-width: 770px) {
  button {
    font-size: 0.9rem;
    width: 13rem;
    height: 3rem;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 650px) {
  * {
    font-size: 0.9rem;
  }

  button {
    width: 10rem;
  }
}